:root {
  /* primary */
  --light-red: hsl(356, 100%, 66%);
  /* (CTA text)*/
  --very-light-red: hsl(355, 100%, 74%);
  /* (CTA hover background)*/
  --very-dark-blue: hsl(208, 49%, 24%);
  /* (headings)*/
  /* neutral */
  --white: hsl(0, 0%, 100%);
  /* (text) */
  --grayish-blue: hsl(240, 2%, 79%);
  /* (footer text) */
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  /* (body copy) */
  --very-dark-black-blue: hsl(240, 10%, 16%);
  /* (footer background) */
  /* Background gradient - Intro/CTA mobile nav: */
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  /* Background gradient - body: */
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
  /* padding  */
  --padding-body: 8vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  transition: all .2s ease-in-out;
}

button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* header styles */
header {
  position: relative;
  width: 100vw;
  min-height: 85vh;
  background: linear-gradient(to right,
      var(--very-light-red),
      var(--light-red));
  color: var(--white);
  padding: 0 var(--padding-body);
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 90px;
  overflow: hidden;
}

header .bg-patterns {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -85em;
  right: 29.5em;
  /* overflow: hidden; */
}

header .bg-patterns .pattern-desktop {
  object-fit: contain;
  object-position: center;
}

/* header::after {
  content: url("./images/bg-pattern-intro-desktop.svg");
  position: absolute;
  top: -1350px;
  left: -500px;
  z-index: -1;
} */

/* header top & bottom */
header #top,
header #bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 2; */
  /* overflow: hidden; */
}

/* header top */
header #top {
  width: 100%;
  position: relative;
  padding-top: 1em;
  flex: 0.5;
  align-items: center;
  justify-content: start;
}

header #top .logo>img {
  width: 5em;
}

header #top .nav-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

header #top .nav-container .navigation {
  margin-right: auto;
}

header #top .nav-container .navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5em;
}

header #top .nav-container .navigation ul .nav-list {
  position: relative;
}

header #top .nav-container .navigation ul .nav-list a {
  color: var(--white);
  margin-left: 2em;
  list-style: none;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

header #top .nav-container .navigation ul .nav-list a:hover {
  text-decoration: underline;
}

header #top .nav-container .navigation ul .nav-list a svg {
  transition: rotate .2s ease-in-out;
}

header #top .nav-container .navigation ul .nav-list a:hover svg {
  rotate: 180deg;
}

header #top .nav-container .navigation ul .nav-list .dropdown-menu-list {
  position: absolute;
  top: 100%;
  width: 11em;
  display: none;
  list-style: none;
  background-color: var(--white);
  padding: 1.5em;
  padding-right: 3.2em;
  border-radius: 0.4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* margin-top: 1em; */
}

header #top .nav-container .navigation ul .nav-list .dropdown-menu-list li {
  margin-bottom: 0.9em;
}

header #top .nav-container .navigation ul .nav-list .dropdown-menu-list li:last-child {
  margin-bottom: 0em;
}

header #top .nav-container .navigation ul .nav-list .dropdown-menu-list li a {
  margin-left: 0;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  padding: .5em .1em .5em 0;
}

header #top .nav-container .navigation ul .nav-list .dropdown-menu-list li a:hover {
  font-weight: 600;
}

header #top .nav-container .navigation ul .nav-list:hover .dropdown-menu-list,
header #top .nav-container .navigation ul .nav-list:focus .dropdown-menu-list {
  display: block;
}

header #top .nav-container .btn-container-top button {
  padding: 0.7em 2em;
  border-radius: 100px;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

header #top .nav-container .btn-container-top button:nth-child(1) {
  background-color: transparent;
  color: var(--white);
}

header #top .nav-container .btn-container-top button:nth-child(2) {
  background-color: var(--white);
  color: var(--light-red);
}

header #top .nav-container .btn-container-top button:nth-child(2):hover {
  color: var(--white);
  background-color: var(--very-light-red);
}

header #top .nav-container-mobile {
  display: none;
}

header #top .nav-toggle-mobile {
  display: none;
  position: absolute;
  right: 0;
}

header #top .nav-toggle-mobile>img.nav-close {
  display: none;
}

@media screen and (max-width: 830px) {
  header #top .nav-container {
    display: none;
  }

  header #top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header #top .nav-container-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    width: 100%;
    z-index: 99999;
    padding: 2em 1em;
    border-radius: .3em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.186);
  }

  header #top .nav-container-mobile.nav-active {
    display: block;
  }

  header #top .nav-container-mobile .navigation {
    width: 100%;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 1em;
  }

  header #top .nav-container-mobile .navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
  }

  header #top .nav-container-mobile .navigation ul .nav-list {
    text-align: center;
    width: 100%;
    padding-bottom: .6em;
    /* pointer-events: none; */
  }

  header #top .nav-container-mobile .navigation ul .nav-list.active a {
    color: #777;
  }

  header #top .nav-container-mobile .navigation ul .nav-list a {
    color: var(--very-dark-black-blue);
    font-size: 1.1em;
    font-weight: 600;
    /* padding: 2em 1em; */
  }

  header #top .nav-container-mobile .navigation ul .nav-list .dropdown-menu-list {
    /* position: absolute; */
    display: none;
    width: 100%;
    transition: all 1s ease-in-out;
    background-color: rgb(234, 234, 234);
    border-radius: .25em;
    flex-direction: column;
    gap: 2em;
    padding: 1.5em 1em;
    transition: all 0.2s ease-in-out;
  }

  header #top .nav-container-mobile .navigation ul .nav-list .dropdown-menu-list.active {
    display: flex;
    margin-top: 1em;
  }

  header #top .nav-container-mobile .navigation ul .nav-list .dropdown-menu-list li a {
    font-size: 1em;
  }

  header #top .nav-container-mobile .navigation ul .nav-list .dropdown-menu-list li a:hover {
    color: var(--very-dark-black-blue);
  }

  header #top .nav-container-mobile .navigation ul .nav-list svg {
    transition: all .2s ease-in-out;
  }

  header #top .nav-container-mobile .navigation ul .nav-list.active svg {
    rotate: 180deg;
  }

  header #top .nav-container-mobile .btn-container-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2em;
    margin-top: 1em;
  }

  header #top .nav-container-mobile .btn-container-top button {
    padding: 0.7em 2em;
    border-radius: 100px;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
  }

  header #top .nav-container-mobile .btn-container-top button:nth-child(1) {
    background-color: transparent;
    color: var(--very-dark-black-blue);
  }

  header #top .nav-container-mobile .btn-container-top button:nth-child(2) {
    color: var(--white);
    background: linear-gradient(to right, var(--very-light-red), var(--light-red));
  }

  header #top .nav-container-mobile .btn-container-top button:nth-child(2):hover {
    color: var(--white);
    background-color: var(--very-light-red);
  }

  header #top .nav-toggle-mobile {
    display: block;
  }
}

/* header bottom */
header #bottom {
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

header #bottom .header-heading {
  text-align: center;
  font-size: 3.5em;
}

header #bottom .header-para {
  text-align: center;
  font-size: 1.2em;
  margin: 1em 0 2.5em;
}

header #bottom .btn-container-bottom button {
  padding: 0.7em 1em;
  border-radius: 100px;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

header #bottom .btn-container-bottom button:nth-child(1) {
  background: var(--white);
  color: var(--light-red);
  margin-right: 0.8em;
}

header #bottom .btn-container-bottom button:nth-child(1):hover {
  color: var(--white);
  background-color: var(--very-light-red);
}

header #bottom .btn-container-bottom button:nth-child(2) {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

header #bottom .btn-container-bottom button:nth-child(2):hover {
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--very-light-red);
}

/* header end */

/* section start */
/* section 1 */
#section-1,
#section-1 .content,
#section-1 .content .articles {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-1 {
  padding: 0 var(--padding-body);
  flex-direction: column;
  color: var(--very-dark-blue);
}

#section-1 h1 {
  font-size: 2.2em;
  margin: 3.5em 0 2em;
  text-align: center;
}

#section-1 .content>* {
  flex: 1;
}



#section-1 .content .articles {
  flex-direction: column;
}

#section-1 .content .articles .article {
  margin-bottom: 4em;
  font-weight: 600;
}

#section-1 .content .articles .article h2 {
  margin-bottom: .7em;
  font-size: 1.7em;
}

#section-1 .content .articles .article p {

  color: #999;
  font-size: .95em;
  line-height: 1.8;
}

#section-1 .content .img-container {
  position: relative;
}

#section-1 .content .img-container .illustration-mobile {
  display: none;
}

#section-1 .content .img-container .illustration-desktop {
  position: absolute;
  top: -26em;
  right: -24em;
  width: 160%;
}

@media screen and (max-width:830px) {
  #section-1 .content {
    flex-direction: column-reverse;
  }

  #section-1 .content .articles .article h2 {
    text-align: center;
    margin-top: 1em;
  }

  #section-1 .content .articles .article p {
    text-align: center;
  }

  #section-1 .content .img-container .illustration-desktop {
    display: none;
  }

  #section-1 .content .img-container .illustration-mobile {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #section-1 .content .img-container img {}
}



/* section start */